:root{
	--dark-color: #6F6C6D;
	--light-color: #FFF;
	--medium-color: #C8C8C8; 
}

.red-color{
	color: #ff0000;
}

body{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	min-height:100vh;
	width: calc(100vw - .6rem);
	}

*{
	margin:0;
	padding:0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	scrollbar-width: thin;
}

.navbar {
	position:fixed;
	top:0;
	display: flex;
	gap: .5rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: 2.5rem;
	background: var(--dark-color);
	width: calc(100vw - .6rem);
}

.navbar>ul{
	display: flex;
	gap: .5rem;
	align-items: center;
	list-style: none;
}

.navbar>ul li{
width:3.72rem;
text-align: center;
font-weight: bold;
font-size: .7rem;
}

@media (max-width: 800px){
	.show{
		display: block;
		cursor: pointer;
	}

	.hidden{
		display:none;
	}

	.menu{
		margin-left: -15.625rem;
	}
	
	main,
	h1{
		width: calc(100vw - 1rem);
	}
}

@media (min-width: 801px){
	.show{
		display: none;
	}

	.hidden{
		display:block;
	}

	.menu{
		margin-left: 0;
	}
	
	main,
	h1{
		margin-left: 15.625rem;
		width:calc(100vw - 16.725rem);
	}
}

.menu{
	position:fixed;
	top: 2.5rem;
	background: var(--medium-color);
	width: 15.625rem;
	min-height:15.625rem;
	border-radius: 0 0 .5rem 0;
	padding-top: .5rem;
	overflow-y: scroll;
	max-height: calc(100vh - 2.5rem);
}

.menu>ul>li{
	margin-bottom: 1rem;
}

.menu>ul>li>ul>li{
	margin-bottom: .5rem;
}

.menu>ul>li,
.menu>ul>li>ul>li{
	padding-left: .5rem;
	font-weight: bold;
}

h1{
	margin-top: 3rem;
	text-align: center;
}

/* main{
	padding-left: .5rem;
} */

section{
	padding-left: 1rem;
}

h2,
p,
aside{
	margin-bottom: 1rem;
}

aside{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	overflow: hidden;
	height: 20.8125rem;
	}

figure{
	position:relative;
}

figcaption{
	position: absolute;
	bottom: .5rem;
	text-align: center;
	width:100%;
	background: #C8C8C8;
	opacity: 0.7;
}

footer{
	width: calc(100vw - .6rem);
	height: 2.5rem;
	background: var(--dark-color);
}